/venv
.idea
*.fits
*.csv
output/*
!output/.gitkeep
*.txt
!requirements.txt
spectra_raw/*
spectra_processed/*
!spectra_raw/.gitkeep
!spectra_processed/.gitkeep
images/*
!images/.gitkeep
*.png
*.zip
test.py
cleanup.py
*.xcf
count_files.py
local_*
all_*
*.pdf
*.ods
output_all
result_*
*.tex
*.vot
lightcurves/*
*.log
*.tmp
*.gz
*.aux
*.h5
*.ico
/.ipynb_checkpoints/test-checkpoint.ipynb
*.out
*.s
/catalogues/hotSD_gaia_edr3_catalogue.fits
/catalogues/sd_catalogue_v56_pub.csv
!/catalogues/.gitkeep
!/Arrow.png
/.RVVDprefs
*.so
lombscarglegpu.py
models/*
SEDs/*
!/models/.gitkeep
!/SEDs/.gitkeep
!/lightcurves/.gitkeep