asteval>=0.9.26
astropy>=5.0.4
astroquery>=0.4.6
beautifulsoup4>=4.11.1
certifi>=2021.10.8
charset-normalizer>=2.0.12
cycler>=0.11.0
fonttools>=4.33.0
future>=0.18.2
html5lib>=1.1
idna>=3.3
importlib-metadata>=4.11.3
keyring>=23.5.0
kiwisolver>=1.4.2
lmfit>=1.0.3
matplotlib>=3.5.1
numpy>=1.22.3
packaging>=21.3
pandas>=1.4.2
Pillow>=9.1.0
pip>=21.1.2
pyerfa>=2.0.0.1
pyparsing>=3.0.8
python-dateutil>=2.8.2
pytz>=2022.1
pyvo>=1.3
pywin32-ctypes>=0.2.0
PyYAML>=6.0
requests>=2.27.1
SciencePlots >= 1.0.9
scipy>=1.8.0
setuptools>=57.0.0
six>=1.16.0
soupsieve>=2.3.2.post1
uncertainties>=3.1.6
urllib3>=1.26.9
webencodings>=0.5.1
wheel>=0.36.2
zipp>=3.8.0
img2pdf>=0.4.4
PyPDF2>=2.5.0
numexpr>=2.8.3
tksheet~=6.2.5
lightkurve~=2.4.1
opencv-python>=4.9.0.80
tqdm~=4.66.1
PyMuPDF ~= 1.23.5
gatspy >= 0.3
galpy >= 1.9.1
ztfquery>=1.26.1
screeninfo>=0.8.1
aotsAPI>=0.0.4
opencv-python>=4.9.0.80
sv_ttk>=2.6.0